body{
    .libre-franklin-<uniquifier> {
      font-family: "Libre Franklin", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
}
}
.s{
    background: rgb(245,61,45);
    height: 100vh;
    background: linear-gradient(180deg, rgba(245,61,45,1) 28%, rgba(255,102,51,1) 57%);
}
